<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title class="billboard-title align-center">Billboard</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/billboard_app/css/style.css' %}" />
    </head>


<body>
    <a href="/logout/" id="logout-button">Logout</a>
    <div class="billboard-title align-center">BILLBOARD</div>
    <div class="container mx-auto">
        {% if messages|length == 0 %}
        <div class="no-messages mx-auto align-center">
            <div>No messages...</div>
            <div>Click the '+' button to add a new message</div>
        </div>
        {% else %}
        {% for message in messages %}
        <fieldset class="message-box mx-auto">
            <legend class="date">{{ message.date }}</legend>
            <h1 class="title">{{ message.title }}</h1>
            <p class="message">{{ message.text }}</p>
            <div class="author">{{ message.author }}</div>
        </fieldset>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Form to post a new message on billboard -->
    <div id="new-message">
        <form method="post" action="">
            <fieldset class="form-new mx-auto">
                <legend class="date">{{date}}</legend>
                {% csrf_token %}
                <input type="text" placeholder="Title" name="title" id="title-input">
                <br />
                <textarea type="text" placeholder="Your message here" name="message2" id="message-input"></textarea>
                <br />
                <input type="text" placeholder="Author" name="author" id="author-input">
            </fieldset>
            <div class="add-text align-center mx-auto">
                <button type="button" class="btn cancel-button"><i class="fas fa-times"></i></button>
                <button type="submit" class="btn send-button"><i class="fas fa-check"></i></button>
            </div>
        </form>
    </div>
    <div class="add-text align-center mx-auto" id="display-form">
        <button type="button" class="btn plus-button"><i class="fas fa-plus"></i></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="{% static '/billboard_app/js/script.js' %}"></script>
</body>

</html>